{{#if this.getMeets.isRunning}}
  <div class="flex justify-center">
    <h2>Fetching Meet Data...</h2>
  </div>
{{else}}
  <div class="flex flex-col justify-center lg:flex-row p-4">
    <div class="basis-1/2 p-4 h-full max-w-screen-sm">
      <AthleteSummary
        @athlete={{@athlete}}
        @setEventCode={{this.setEventCode}}
        @selectedEvent={{this.eventCode}}
      />
    </div>
    <div class="basis-1/2 p-4 h-full max-w-screen-sm">
      <EventProgression
        @eventData={{this.eventData}}
        @eventCode={{this.eventCode}}
        @athlete={{@athlete}}
      />
      <div class="flex">
        <div class="border w-full rounded-lg shadow-lg overflow-auto">
          {{#each this.eventData as |event|}}
            <div
              class="flex justify-between items-center text-sm border-b p-4 last-of-type:border-0"
            >{{event.name}}
              <div class="text-gray-500 text-xs">
                <div class="font-bold"><a class="hover:underline" href="https://oh.milesplit.com/meets/{{event.meetId}}" target="_blank">{{event.meetName}}</a></div>
                <div class="font-mono">{{date-format event.date}}</div>
              </div>
              <div class="text-gray-700 text-right text-sm">
                {{event.mark}}
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
{{/if}}