<AthleteWidget @athlete={{this.model}}/>
{{!--
<div class="flex">
  <div class="basis-1/2 p-4">
    <AthleteSummary @athlete={{this.model}} />
  </div>
  <div class="basis-1/2 p-4">
    <EventProgression
      @eventData={{@model.stats}}
      @eventCode={{@model.code}}
      @athlete={{@model.athlete}}
    />
  </div>
</div>
--}}