<div class="p-4">
  <h2 class="mb-8">{{@model.event.name}} progression for {{@model.athlete.name}}</h2>
  <div class="hidden">
    {{#each @model.stats as |stat|}}
      <div class="mb-4">
        <span class="block">{{stat.mark}}</span>
        <span class="block text-xs">{{stat.meetName}}</span>
      </div>
    {{/each}}
  </div>
  <EventProgression @eventData={{@model.stats}} @eventCode = {{@model.code}} />
</div>